<section>
  {{ $bottom := .Scratch.Get "bottom" }}
  {{ if $bottom }}
  <hr class="hidden-sm hidden-xs">
  {{ end }}
  <h5>LEGAL NOTICE</h5>
  <div class="tags">
     当ウェブサイトの閲覧を続行することで、当ウェブサイトの<a href="https://nexryai.online/docs/privacy/" style="border: none;margin: 0;">プライバシーポリシー</a>に同意したものと見做されます。<br><br>
     将来予想に関する記述:  当ウェブサイトには、将来予想に関する記述（1933年米国証券法第27A条または1934年米国証券取引所法21E条（いずれもその後の改正を含む）に該当）が含まれるコンテンツがあり、重大なリスクおよび不確定要因を含んでいます。将来予想に関する記述は、「予定です」、「しそうです」、「なりそうです」、「場合があります」、「つもりです」、「するでしょう」、「はずです」、「見込まれます」、「可能性を探ります」、「する計画です」、「予想します」、「かもしれません」、「意図しています」、「目標とします」、「見積ります」、「検討します」、「考えます」、「推測します」、「予測します」、「潜在的」、「引き続き」、またはそれらの否定表現、あるいは予想、戦略、計画、または意図に関わるその他同様の用語および表現によって識別することができます。しかし、すべての将来予想に関する記述にこうした語句が含まれているわけではありません。さまざまな要因によって、上記の将来予想に関する記述で明示または黙示した結果と実際の結果との間に重大な相違が生じる可能性があります。当ウェブサイトのコンテンツに含まれる将来予想に関する記述は、あくまで記述当日現在の事象についてのみ言及しています。当ウェブサイトは、法律で義務付けられた場合を除き、コンテンツ投稿日の日付以降の事象や状況を反映するために、あるいは新しい情報や予期しない事象の発生を反映するために、将来予想に関する記述を更新する義務を負いません。将来予想に関する記述で開示した計画、意図、予想は実際に実行・達成されない場合があるため、このウェブサイトの将来予想に関する記述に過剰に依存すべきではありません。<br><br>
     当ウェブサイトの情報はなるべく正確であるように記述されていますが、当ウェブサイトの内容の正確性に関する保証は存在しません。当ウェブサイトの内容を信じたことによって発生した所有物の物理的損傷、金銭損失、データ破損、訴訟、社会的地位の低下、精神的苦痛など、いかなる種類の損害に対しても、当ウェブサイトの管理人及びコンテンツの執筆者は責任を負いかねます。<b>ただしEULA、利用規約（TOS）、プライバシーポリシーの本文は法的効力を持ちます。</b>
</div>
</section>
